html {
    height: 100%;
    width: 100%;
  }
  .box{
  width: 960px;
  height: 400px;
  border-radius: 14px;
  background: #d0d8e1;
  margin: 50px;
  padding: 30px;
  margin-left: 30px;
  }
  .headings{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
  }
  .box1{
    width: 900px;
    height: 400px;
    border-radius: 14px;
    background: #d0d8e1;
    margin: 50px;
    padding: 30px;
    margin-left: 250px;
    background: #D9D9D9;
  }
  .box2{
    width: 652px;
    height: 304px;
    background: url("Grant\ Park\ Coffeehouse.jpeg");
    margin: 50px;
    padding: 30px;
    margin-left: 375px;
  }
  